# Atelier 2 : Manipulation des données avec DataFrame

### Objectif:

Introduire les techniques de base pour importer et accéder aux données sous différentes formes en utilisant la bibliothèque pandas.

1. Importer le jeu de données « prêts »

In [3]:
import pandas as pd

# Importer le jeu de données « prêts »
df = pd.read_csv('prets.csv') 
df.head(5)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014

2. Explorer la structure du DataFrame

In [5]:
print("Colonnes:", df.columns)
print("Dimensions:", df.shape)
nb_villes_uniques = df['ville'].nunique()
print("Nombre de villes uniques:", nb_villes_uniques)

Colonnes: Index(['identifiant', 'ville', 'CP', 'revenu', 'remboursement', 'duree',
       'type', 'taux'],
      dtype='object')
Dimensions: (244, 8)
Nombre de villes uniques: 6

3. Créer un nouvel attribut « taux_endettement »
Formule : taux_endettement = remboursement * 100 / revenu

In [7]:
df['taux_endettement'] = (df['remboursement'] * 100 / df['revenu']).round(2)

4. Renommer la variable « taux » en « taux_interet »

In [9]:
df=df.rename({'taux': 'taux_interet'}, axis=1)

5. Créer les variables « cout_total » et « benefices »

In [11]:
df['cout_total'] = df['remboursement'] * df['duree']

In [12]:

df.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4

In [13]:
df['benefices'] = (df['cout_total'] * df['taux_interet']) / 24

In [14]:
df.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,13198.984000
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,2368.640000
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,18296.600625
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,5370.688800
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,4456.758150

6. Afficher les 5 prêts ayant le plus de bénéfices

In [16]:
top_5_benefices = df.nlargest(5, 'benefices')
print(top_5_benefices[['identifiant', 'benefices']])

     identifiant   benefices
8              7  43762.8600
23            22  37094.2925
186          173  35051.0472
242          226  33184.9440
181          168  33015.1416

7. Nombre de personnes ayant dépassé 40% du taux d’endettement

In [18]:
clients_risque = df[df['taux_endettement'] > 40]
print("Nombre de clients à risque:", len(clients_risque))

Nombre de clients à risque: 26

8. Ajouter une variable « risque »

In [20]:
df['risque'] = df['taux_endettement'].apply(lambda x: 'Oui' if x > 40 else 'Non')

In [21]:
df.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,13198.984000,Non
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,2368.640000,Non
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,18296.600625,Non
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,5370.688800,Non
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,4456.758150,Non

9. Récupérer le nombre de prêts automobiles et le coût total moyen

In [23]:
prets_automobiles = df[df['type'] == 'automobile']
nb_prets_auto = len(prets_automobiles)
cout_moyen_pret_auto = prets_automobiles['cout_total'].mean()

print("Nombre de prêts automobiles:", nb_prets_auto)
print("Coût total moyen des prêts automobiles:", cout_moyen_pret_auto)

Nombre de prêts automobiles: 16
Coût total moyen des prêts automobiles: 13665.0

10. Afficher le bénéfice mensuel total réalisé par l’agence parisienne

In [25]:
benefice_paris = df[df['ville'] == 'PARIS']['benefices'].sum()
print("Bénéfice mensuel total de l'agence parisienne:", benefice_paris)

Bénéfice mensuel total de l'agence parisienne: 1001633.0605333335